*{
    font-family:Verdana, Tahoma, sans-serif ;
    background-color: #CCB0FA;
    color: #FFFADE;
    box-sizing: border-box;
}
.container{
    border: 3px solid #FFF7D0;
    width: 750px;
    margin: 20px auto;
}
.title{
    font-family: serif;
    background-color: #4D30A0;
    text-decoration: underline 2px;
    margin: 10px 90px 30px;
    text-align: center;
}
.homeimg{
    height: auto;
    width: 344px;
    margin: 0px 200px 30px;
    border: 3px solid #005B42;
}
.content{
    text-align: center;
    background-color: #4D30A0;
    margin: 0px 90px 30px;
}
.list{
    margin: 0px 90px 10px;
}
a{
    color: #005B42;
}